<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PGC MBlob</title>

	<link rel="stylesheet" href="/ryD2hkaf812PJwRt/css/materialize.min.css" media="screen" />
	<link rel="stylesheet" href="/ryD2hkaf812PJwRt/css/style.min.css" media="screen" />
</head>
<body>
	
	<div class="container-fluid" id="main-container">
		
	</div>

	<script type="text/javascript" src="/ryD2hkaf812PJwRt/js/materialize.min.js"></script>
	<script type="text/javascript" src="/ryD2hkaf812PJwRt/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/ryD2hkaf812PJwRt/js/main.js"></script>
</body>
</html>